/*
 * @Author: wenjia_peng 
 * @Date: 2019-07-19 09:31:13 
 * @Last Modified by: wenjia_peng
 * @Last Modified time: 2019-08-23 16:16:49
 */
@import "../../../style/mixin.less";

@font-face {
  font-family: 'iconfont';  /* project id 1303620 */
  src: url('./iconfont.eot');
  src: url('./iconfont.eot?#iefix') format('embedded-opentype'),
  url('./iconfont.woff2') format('woff2'),
  url('./iconfont.woff') format('woff'),
  url('./iconfont.ttf') format('truetype'),
  url('./iconfont.svg#iconfont') format('svg');
}
@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.kingdee-icon {
  font-family: "iconfont" !important;
  width: 16px;
  height: 16px;
  color: @icon-color;
  font-size: 16px;
  font-style: normal;
  display: inline-block;
  cursor: pointer;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &-close:before {
    content: "\e7fc";
  }

  &-question:before {
    content: "\e782";
  }

  &-location:before {
    content: "\e76f";
  }

  &-down:before {
    content: "\e688";
  }

  &-left:before {
    content: "\e68a";
  }

  &-gou:before {
    content: "\e608";
  }

  &-man:before {
    content: "\e6cb";
  }

  &-woman:before {
    content: "\e705";
  }

  &-spin {
    animation-name: rotate;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
}
