@primary-color: #1890ff;
@danger-color:#f5222d;
@hover-color:#40a9ff;
@white-color:#fff;
@border-color:#d9d9d9;
@font-color:rgba(0,0,0,0.65);

//高度变量
@lg-size:40px;
@mid-size:32px;
@sm-size:24px;

.minxin-size(@hg,@pd:0 15px,@fz:14px){
  height: @hg;
  padding: @pd;
  font-size: @fz;
}

.minxin-color(@color){
  border-color: @color;
}

.minxin-color(@fontColor,@brColor){
  color: @fontColor;
  border-color:@brColor;
}

.minxin-color(@fontColor,@brColor,@bgColor){
  color: @fontColor;
  border-color:@brColor;
  background-color: @bgColor;
}
